body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 55%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input,
form button {
  padding: 10px;
  font-size: 16px;
}

form button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #218838;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-left: 5px;
  height: 400px;
}
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.listItems {
  width: 100%;
  margin: auto;
  gap: 20px; /* Adjust the gap between items as needed */
  margin-top: 10px;
}

.listItems li {
  width: 265px; /* Adjust this width to control the number of items per row */
  font-size: 20px;
}

.listItems span {
  font-size: 25px;
}

li button {
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
}

li button:hover {
  background-color: #c82333;
}
