.links {
  font-size: 40px;
  height: 100px;
  width: 40%;
  justify-content: space-around;
  display: flex;
  position: absolute;
  left: 57%;
  text-decoration: none;
  flex-direction: column;
  position: absolute;
  left: 80%;
  margin-top: 120px;
}
.color {
  margin-top: 80px;
  transition: ease-in-out 0.5s;
  color: rgb(255, 255, 255);
}
.color:hover {
  color: rgba(202, 202, 255, 0.5);
  transition: 0.5s;
}
.headline {
  color: rgba(99, 123, 255, 0.8);
  font-size: 100px;
  transition: ease-in 0.5s;
}
.headline:hover {
  color: white;

  font-size: 100px;
  transition: 0.8s;
  user-select: none;
}
.workoutListItemsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
}
.externalContainer {
  top: 10%;
  position: absolute;
  height: 50vh;
  display: flex;
  width: 70%;
  border: 5px solid rgb(73, 70, 70);
}
.workoutItem {
  font-size: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.newItem {
  background-color: rgb(255, 255, 255,0.7);
  font-size: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: 1s;
}
.newItem:hover {
  transition: 1s;
  background-color: aliceblue;
}
.itemBox {
  align-content: start;
  width: 334px;
  text-align: center;
  border: 1px solid white;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.workoutItem {
  animation: slideIn 0.5s ease forwards;
  opacity: 0; /* Initially hide the element */
}

.animate {
  animation: slideIn 0.5s ease forwards;
  opacity: 1;
}
.animateUp {
  animation: slideUp 1s ease-in-out;
}
